* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fafafa;

  /* img{
    width: 50px;
  } */
}

.logo{
   padding-top: 16px;
   padding-left: 16px;
  img{
    width: 90px;
  }
}

body {
  overflow-x: hidden;
  position: relative;
}

@media (min-width: 769px) {
  .app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .app::before {
    content: "This app is designed for mobile devices only. Please view on a mobile device or use device emulation.";
    text-align: center;
    padding: 20px;
    color: #666;
  }

  .story-list {
    display: none;
  }
}
